
html {
  min-height: 100%;
  background-color: #555;
  box-shadow: rgba(0, 0, 0, .3) 0 0 200px inset;
  -webkit-font-smoothing: antialiased;
}

body {
  position: relative;
  width: 500px;
  margin: 40px auto;
  padding: 60px 0;
  font-family: sans-serif;
  font-size: 15px;
}


.link {
  color: #FFA;
  text-decoration: none;
}

.link:hover,
.link:focus {
  text-decoration: underline;
}


.app-brand {
  position: absolute;
  top: 0;
  left: 20px;
  color: #FFF;
  font-weight: bold;
}


.user-info {
  position: absolute;
  top: 0;
  right: 20px;
  color: #FFF;
  font-weight: normal;
}


.app-content {
  padding-top: 5px;
  border-bottom: 1px solid #BBB;
  border-radius: 10px;
  background: #DDD;
  -webkit-font-smoothing: subpixel-antialiased;
}


.login-screen {
  padding: 40px 100px;
  text-align: center;
}


.new-task-form {
  position: relative;
  border-bottom: 1px solid #CCC;
  margin: 5px 10px 0;
  padding: 0 0 10px;
}


.text-input {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  outline: 0;
  border-top: 1px solid #AAA;
  background: #FFF;
}

.text-input:focus {
  background-color: #FFD;
}

.button {
  padding: 0 10px;
  border: 0;
  border-bottom: 1px solid #222;
  border-radius: 4px;
  background: #555;
  color: #FFF;
  font-family: inherit;
  font-size: 15px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
}

.button:hover {
  background: #777;
}


.login-button {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
}


.new-task-form__label-input {
  width: 100%;
  height: 40px;
  padding: 0 100px 0 10px;
  border-radius: 5px;
  font-family: inherit;
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
}

.new-task-form__label-input::-webkit-input-placeholder {
  font-weight: normal;
}


.new-task-form__submit-button {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 15px;
}


.task-list,
.subtask-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.task-list {
  padding: 10px;
}

.subtask-list {
  margin-left: 20px;
}

.task {
  margin-bottom: 2px;
  padding: 5px;
  border-bottom: 1px solid #CCC;
  border-radius: 5px;
  background: #FFF;
  line-height: 20px;
}

.task__completed-checkbox {
  position: relative;
  top: -1px;
}

.task__delete-button {
  display: inline-block;
  vertical-align: top;
  height: 20px;
  width: 20px;
  opacity: .3;
  background-image: url('./img/trash.svg');
  background-size: 100%;
  cursor: pointer;
}

.task__delete-button:hover,
.task__delete-button:focus {
  opacity: 1;
}
